<div class="jumbotron">
  <h1>EAT A FUCKING BURGER!</h1>
  <p></p>
</div>

<div class="container-fluid" id= "burger-art">
  <div class="row">
    <div class="uneatenBurgers col-xs-6">
      {{#each burgers}}
      {{#if this.devoured}}
      {{else}}
      <div class="burger">
        <h1>{{this.burgerName}}</h1>
        <button onclick="eatBurger({{this.id}})" id="burgerButton-{{this.id}}" type="button" name="button">eat the burger</button>
      </div>
      {{/if}}
      {{/each}}

    </div>
    <div class="eatenBurgers col-xs-6">
      {{#each burgers}}
      {{#if this.devoured}}
      <div class="devouredBurger">
        <h2>{{this.burgerName}}</h2>
      </div>
      {{/if}}
      {{/each}}

    </div>

  </div>



</div>
<div class="submit-form" id= 'burger-form'>
    <form class="" action="/createBurger" method="post">
      <div class="form-group">
        <label for="burgerName">burger name</label>
        <input type="text" class="form-control" id="" name='burgerName' placeholder="">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control" id="" value="create-new-burger" placeholder="">
      </div>

    </form>

</div>

<script type="text/javascript">
function eatBurger(burgerId){
  $.ajax({
    url: '/burgers/',
    type: 'PUT',
    data: JSON.stringify({
      id: burgerId,
      devoured: true
    }),
    contentType: 'application/json',
    success: function(response){
      window.location.reload();
    }
  })
};

</script>
